html,body{
    font-family: 'Roboto', sans-serif;
}
.content{
    width: 100vw;
    padding-bottom: 3.33vw;
}
.list:after{
    clear: both;
    content: '';
    display: block;
    overflow: hidden;
}
.content .list-item{
    float: left;
    width: 45vw;
    height: 42.36vw;
    /*background: orangered;*/
    margin:3.33vw auto auto 3.33vw;
}
.list-item .img{
    position: relative;
    width: 100%;
    height: 26.11vw;
}
.list-item:active .active-cover{
    display: block;
}
.time{
    position:absolute;
    right: 0;
    bottom:0;
    min-width: 12.11vw;
    padding:1.2vw 1.5vw;
    font-size: 3.1vw;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,.4);
}
.title{
    margin-top: 2.22vw;
    font-size:3.66vw ;
    line-height: 4.5vw;
    /*height: 9vw;*/
}

.end-line-point{
    overflow : hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.views-count{
    margin-top: 1.11vw;
    color:#999999;
    font-size: 3.33vw;
}
.views-count span:nth-child(2){
    margin-left: 2.22vw;
}

.active-cover{
    position: absolute;
    z-index: 1;
    margin-top:0;
    margin-left:0;
    width:45vw;
    height:42.36vw;
    background-color: rgba(0,0,0,.2);
    display: none;
}